 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi, my name is Quentin. I am an up and coming full-stack web developer with experience building, maintaining, and optimizing modern websites.</p>
                </div>
                <div class="col-lg-4">
                    <p>If you're in search of a new website for your business or simply a refresh of your outdated site, get in touch and let's make your digital dreams come true.</p>
                </div>
<!--                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>-->
            </div>
        </div>
    </section>
